body {
  background-color: #4a7d9eb7;
}

.header-nav {
  /* background-color: #282c34; */
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 1rem auto;
  max-width: 600px;
  min-height: 40px;
}

.left-btn {
  display: flex;
  margin: 0 0 0 2rem;
}

.right-btn {
  display: flex;
  margin: 0 2rem 0 0;
  gap: 20px;
}

.right-btn a {
  text-decoration: none;
  color: #fff;
}

.left-btn a {
  text-decoration: none;
  color: #fff;
}

.post-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  max-width: 600px;
  max-height: 240px;
}

.connect-container {
  margin: 0 auto;
  gap: 20px;
  max-width: 600px;
  max-height: 240px;
}

.connect-container form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.connect-container form button {
  border: none;
  font-size: 1rem;
  padding: 2px 4px;
  border-radius: 6px;
}
.connect-container form button:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.connect-container form input {
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 1rem;
}

.image-for-post {
  max-width: 300px;
}

.post-info {
  gap: 13px;
  width: 300px;
}

.post-info h1 {
  margin: 0 auto;
  font-size: 1.6rem;
}

.post-info-author {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 0.7rem;
  color: #333;
}

.post-info-author .author {
  font-weight: bold;
  font-size: 0.8rem;
}

.post-info-paragraph {
  display: flex;
  max-height: 7rem;
  margin-bottom: 0;
  overflow-y: scroll;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post-info a {
  text-decoration: none;
  color: inherit;
}

.single-post-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;

  img {
    width: 600px;
  }
  h2 {
    color: #222;
    font-size: 1.2rem;
  }
}

.container-title-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.7rem;
    color: #333;
  }
}

body .loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .header-nav {
    flex-wrap: wrap;
  }

  .post-container {
    flex-direction: column;
  }

  .single-post-container {
    img {
      margin-left: 1rem;
      width: 340px;
    }
  }
}
